header svg {
  display: flex;
  top: 0;
  fill: none;
  stroke: rgb(12, 43, 112);
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}
h1:hover svg {
  stroke-dashoffset: -480;
}

header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  display: flex;
  fill: none;
  stroke: rgb(23, 22, 22);
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}
button:hover {
  transition: 1s ease-in-out;
  background: #4f95da;
}

button:hover svg {
  stroke-dashoffset: -480;
}
button span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
